*.pyc
**/__pycache__
runtime
public
localtest
flagged
htmlcov
app.egg-info
.cache
.venv
.idea
.env
.mypy_cache
.ruff_cache
.coverage
.DS_Store
Thumbs.db
celerybeat-schedule.db
config.yaml

# Docker 相关
volumes/*
!volumes/.gitkeep
backups/*
!backups/.gitkeep
docker/nginx/cert/*
!docker/nginx/cert/.gitkeep
